.DS_Store
Thumbs.db
*.log
*.tmp
*.swp

.env
.env.local
.env.*.local


node_modules/
dist/
build/
coverage/

vendor/
composer.lock


*.sql
*.sqlite
*.db

__pycache__/
*.pyc
*.pyo
*.pyd

build/
install/
log/

.vscode/
.idea/
*.code-workspace

*.bak
*.old
